body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f3f3f3;
}

.search-container {
  margin: 20px;
}

#search-bar {
  padding: 10px;
  width: 300px;
}

#anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.anime-item {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

#player {
  margin-top: 20px;
}

#video-player {
  width: 80%;
  max-width: 600px;
  height: 300px;
}
